# Put your API keys here.
# Use your test keys for development and live keys for real charges in production.\
#
# --------------------------------------------------------------
# ---> WARNING: DO NOT PUBLISH THIS FILE WITH YOUR API KEYS <---
# --------------------------------------------------------------

# Google Direction API key
# https://developers.google.com/maps/documentation/directions/start

GOOGLE_DIRECTIONS_KEY = 

# Firebase Credentials
# https://firebase.google.com/docs/web/setup

FB_KEY = 
FB_AUTH_DOMAIN = 
FB_DB_URL = 
FB_PROJECT = 
FB_STORAGE_BUCKET = 
FB_MSG_ID = 