# Put your API keys here.
# Use your test keys for development and live keys for real charges in production.
#
# --------------------------------------------------------------
# ---> WARNING: DO NOT PUBLISH THIS FILE WITH YOUR API KEYS <---
# --------------------------------------------------------------

# Google Direction API key
# https://developers.google.com/maps/documentation/directions/start

GOOGLE_DIRECTIONS_KEY = 

# Firebase Credentials
# https://firebase.google.com/docs/web/setup

FIREBASE_KEY = 
FIREBASE_AUTH_DOMAIN = 
FIREBASE_DB_URL =